////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////

$color__theme		: #78909C;

$color__snack_title	: #FFFFFF;
$color__snack_button: #DFF0D8;

$color__icon_default: rgba(0, 0, 0, 0.54);
$color__icon_alert	: #EF5350;

////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////

//Font size
$font__size:(
	s : 16px,
	m : 20px,
	l : 24px,
	xl: 36px,
);

//Font weight
$font__weight: (
	light	: 300,
	regular : 400,
	bold	: 700,
);



////////////////////////////////////////////////////
// SIZE
////////////////////////////////////////////////////

$portrait__size: 76px;



////////////////////////////////////////////////////
// BREAKPOINT
////////////////////////////////////////////////////

$breakpoint: 500px;



////////////////////////////////////////////////////
// BORDER
////////////////////////////////////////////////////

$border__radius_default: 2px;