/*-----------------------------------------------------
BASIC CONTAINER
-----------------------------------------------------*/

.container {
    width: 100%;
    margin: 0 auto;
}



/*-----------------------------------------------------
STICK
-----------------------------------------------------*/
/*--Stick Top--*/
.stick_top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: #FFF;
    border-bottom   : solid 1px rgba(0, 0, 0, 0.12);
}